.cellTitre {
        font-size: 12px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
        width:auto;
        text-align: left;
        vertical-align: top;
}