.containerinfo
{
    padding: 20px,20px;
}

.tableInfo{
    background-color: #a3a5c3;
    margin-top: 10px;
    border: 0px solid black; 
    vertical-align: top;

    border-width: 0pt;   
}


.thInfo {
    font-size: 16px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    width:auto;
    text-align: left;
    vertical-align: top;

    border: 0px solid black;
    font-size: 12pt;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-width: 0pt;  
}

.tdInfo
{
    width:auto;
    text-align: left;
    vertical-align: top;
   
    border: 0px solid black;
    font-size: 12pt;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-width: 0pt;  
   
}